In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [3]:
import os

In [4]:
os.getcwd()

'C:\\Users\\Sureksha'

In [5]:
os.chdir('E:\\DS ASSIGNMENTS\\3.Hypothesis Testing')

In [6]:
os.listdir()

['BuyerRatio.csv',
 'Costomer+OrderForm.csv',
 'Cutlets.csv',
 'Hypothesis_Testing_Assignment.pptx',
 'LabTAT.csv']

In [9]:
data=pd.read_csv('Costomer+OrderForm.csv')
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [10]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [11]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [12]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [13]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [14]:
obs=np.array([[271,267,269,280],[29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [15]:
chi2_contingency(obs)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))